<app-toolbar text="Patient {{patientID}}">
  <app-toolbar-link *ngIf="isPatient()" text="Edit personal details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isDoctor()" text="Edit medical details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isPatient()" text="View doctors" icon="user-md" routerLink="doctors/list"></app-toolbar-link>
  <app-toolbar-link text="View history" icon="history" routerLink="history"></app-toolbar-link>
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-8 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="patientRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Patient ID</strong></td>
                <td>{{record.patientId}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Citizen ID</strong></td>
                <td>{{record.citizenId}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>First Name</strong></td>
                <td>{{record.firstName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Last Name</strong></td>
                <td>{{record.lastName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Sex</strong></td>
                <td>{{record.sex}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Birth</strong></td>
                <td>{{record.birth}}</td>
              </tr>
              <ng-container *ngIf="isPatient()">
                <tr>
                  <td class="labels"><strong>Address</strong></td>
                  <td>{{record.address}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Contact Number</strong></td>
                  <td>{{record.phoneNumber}}</td>
                </tr>
              </ng-container>
              <tr>
                <td class="labels"><strong>Emergency Number</strong></td>
                <td>{{record.emergPhoneNumber}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Blood Group</strong></td>
                <td>{{record.bloodGroup}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Public Key</strong></td>
                <td>{{record.publicKey}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>EHR IPFS Hash</strong></td>
                <td>{{record.ehr}}</td>
              </tr>
              <ng-container *ngIf="isPatient()">
                <tr>
                  <td class="labels"><strong>Private Key</strong></td>
                  <td>{{record.privateKey}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isDoctor()">
                <tr>
                  <td class="labels"><strong>Chief Complaint</strong></td>
                  <td>{{record.chiefComplaint}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>History of Present Illness</strong></td>
                  <td>{{record.HPI}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Past Medical History</strong></td>
                  <td>{{record.PMH}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Physical Examination</strong></td>
                  <td>{{record.physicalExamination}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Paraclinical Tests</strong></td>
                  <td>{{record.paraclinicalTests}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Diagnosis</strong></td>
                  <td>{{record.diagnosis}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Recommended Treatment</strong></td>
                  <td>{{record.treatment}}</td>
                </tr>
              </ng-container>
              <!-- <tr>
                <td class="labels"><strong>Description</strong></td>
                <td>{{record.description}}</td>
              </tr> -->
            </span>
          </table>
          <div *ngIf="patientRecordObs === undefined">
            <p>You are not authorized to view patient details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>